
<html>
<meta charset="utf-8">
<script type="text/javascript" src="static/assets/global/plugins/jquery-1.11.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/assets/global/plugins/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="static/assets/global/css/components.css"/>
<link rel="stylesheet" type="text/css" href="static/assets/admin/pages/css/login.css"/>

<head>
	<title></title>
</head>
<body class="login">

	<div class="content">
		<h3 class="form-title">User Register</h3>
		<div class="form-group">
			<label class="control-label">Tel number</label>
			<div><input class="form-control" type="text" placeholder="Tel number" name="telphone" id="telphone"></div>
		</div>

		<div class="form-group">
			<label class="control-label">OTP code</label>
			<div><input class="form-control" type="text" placeholder="OTP code" name="otpCode" id="otpCode"></div>
		</div>

		<div class="form-group">
			<label class="control-label">User Name</label>
			<div><input class="form-control" type="text" placeholder="User Name" name="name" id="name"></div>
		</div>

		<div class="form-group">
			<label class="control-label">Gender</label>
			<div><input class="form-control" type="text" placeholder="Gender" name="gender" id="gender"></div>
		</div>

		<div class="form-group">
			<label class="control-label">Age</label>
			<div><input class="form-control" type="text" placeholder="Age" name="age" id="age"></div>
		</div>

		<div class="form-group">
			<label class="control-label">Password</label>
			<div><input class="form-control" type="password" placeholder="Password" name="password" id="password"></div>
		</div>

		<div class="form-actions">
			<button id="register" type="submit" class="btn btn-success" >
			Submit to Register
			</button>

		</div>
	</div>

</body>

<script>
	jQuery(document).ready(function(){
		$("#register").on("click", function(){
			var telphone = $("#telphone").val();
			var password = $("#password").val();
			var gender = $("#gender").val();
			var age = $("#age").val();
			var otpCode = $("#otpCode").val();
			var name = $("#name").val();

			if(telphone == null || telphone==""){
				alert("Tel phone can't be null");
				return false;
			}
			if(password == null || password==""){
				alert("Password can't be null");
				return false;
			}
			if(gender == null || gender==""){
				alert("Gender can't be null");
				return false;
			}
			if(age == null || age==""){
				alert("Age can't be null");
				return false;
			}
			if(otpCode == null || otpCode==""){
				alert("OTP code can't be null");
				return false;
			}
			if(name == null || name==""){
				alert("Name can't be null");
				return false;
			}


			console.log("hello");
			$.ajax({
				type:"POST",
				url:"http://localhost:8090/user/register",
				data:{
					"telphone":$("#telphone").val(),
					"password": password,
					"age": age,
					"gender": gender,
					"otpCode": otpCode,
					"name": name
				},
				xhrFields:{withCredentials:true},
				success:function(data){
					if(data.status == "success"){
						alert("Successfully register");
					}else{
						alert("fail to Register: " + data.data.errMsg);
					}
				},
				error:function(data){
					alert("fail to register: " + data.responseText);
				}
			});
			return false;
		});

	})
</script>

</html>